<launch>
  <node pkg="urg_node" type="urg_node" name="urg_node1" args="scan:=scan1" output="screen">
    <param name="ip_address" value="192.168.0.10"/>
    <param name="frame_id" value="/laser1"/>
  </node>
  <node pkg="urg_node" type="urg_node" name="urg_node2" args="scan:=scan2" output="screen">
    <param name="ip_address" value="192.168.44.10"/>
    <param name="frame_id" value="/laser2"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="laser1_2_base" args="0 0 0 0 0 0 laser laser1 100"/>
  <node pkg="tf" type="static_transform_publisher" name="laser2_2_base" args="0 0 0 3.14 0 0 laser laser2 100"/>
  <!--<node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find init_laser)/launch/iniciador_cinfig_dual.rviz"/>-->
</launch>
